doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-wi7dth, initial-scale=1.0")
        link(rel='stylesheet' type='text/css' href='../css/adminpanel.css')
        title Admin Paneli
body

<h1 class="admin-title">Admin Paneli</h1>
<div class="button-container">
    <a href="/admin/adminpanel1" class="custom-button" target="_blank">Kullanıcı Hesapları</a>
    <a href="/admin/adminpanel2" class="custom-button" target="_blank">Kullanıcı Oturumları</a>
    <a href="/admin/adminpanel3" class="custom-button" target="_blank">Kitap alım işlenleri</a>
    <a href="/admin/kitapeklemesayfasi" class="custom-button" target="_blank">Kitap Ekleme Sayfası</a>
</div>



script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm' crossorigin='anonymous')