doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Error
body
h3.title-a
        | Üzgünüz ama aradığınız sayfayı bulamadık

a.btn.btn-outline-dark(href='/') Home